POSTGRES_DB=telegram_miniapp_shop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/telegram_miniapp_shop
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change_me